.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}
.container{
	padding: 0 px 15px;
	margin: auto 0;
}